<div class="alert alert-<%= information_type %>">
  <%= information %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>